<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
            <title>{% block title %}Faudra Tif hair blog{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <style>
            .post {
                display: flex;
                flex-direction: column;
                border: 1px solid black;
                background-color: skyblue;
                border-radius: 20px;
                margin-right: 1100px;

            }
            .navbar {
                background-color: cadetblue;
                padding: 10px;
            }

            a {
                text-decoration: none;
                color: black;
                font-size: 16px;
            }

            .titre {
                font-size: 30px;
                font-family: Castellar;
                margin-left: 40%;
            }

            .connexion {
                font-size: 24px;
                font-family: Castellar;
            }

            .menuAdmin {
                display: flex;
                justify-content: space-between;
            }

            .menuText {
                list-style-type: none;
                font-size: 24px;
                font-family: Castellar;
            }

            .table {
                border: 2px solid black;
                border-radius: 20px;
                background-color: skyblue;
            }
        </style>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <header>
                <nav class="navbar">
                    <div class="navbar__left">
                        <h1><a class="titre" href="{{ path('post_index_user') }}">Faudra tif hair</a></h1>
                    </div>
                    <div class="navbar__right">
                        <a class="connexion" href="{{ path('homeAdmin') }}">Se connecter</a>
                    </div>
                </nav>
            </header>
        {% endblock %}

        {% block body %}
            <div id="sidebar">

            </div>
        {% endblock %}
    </body>
</html>
